---
import GlobalOnly from "../components/GlobalOnly.astro";
import MixedStyles from "../components/MixedStyles.astro";
---
<html lang="en">
  <head>
    <title>is:global test</title>
  </head>
  <body>
    <h1>Global-only page</h1>
    <GlobalOnly />
    <MixedStyles />
  </body>
</html>
