---
import Layout from "../components/Layout.astro";
import Card from "../components/Card.astro";
---
<Layout title="Scoped Styles Test">
  <h1>Hello</h1>
  <Card title="First Card">
    <p>Card content</p>
  </Card>
</Layout>
