---
const heading = "Standalone";
---
<html lang="en">
  <head>
    <title>{heading}</title>
  </head>
  <body>
    <h1 class="hero">{heading}</h1>
  </body>
</html>

<style>
  .hero {
    font-size: 3rem;
    color: rebeccapurple;
  }
</style>
